<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET</title>
</head>
<body>
    <h1>This is GET method part</h1>
    <h4>In the last part you can experiense DDOS attack</h4>

    <hr/>

    <form action="" method="get">
        <table border="1">
            <tr>
                <td>
                    Name 
                </td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>
                    Text
                </td>
                <td>
                    <input type="text" name="comment">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="done" value="send">
                </td>
            </tr>
        </table>
    </form>

    <br/>
    <hr/>

    <h2><a href="ddos/">Click to do DDOS attack ...</a></h2>
</body>
</html>