<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exercise 2</title>
</head>
<body>
    <p><h1>Hi guys</h1></p>
    <p><h2>I`m Ashkan Pourabdollah</h2></p>
    <p><h3>and This is a test for <i><u>get</u></i> and <i><u>post</u></i> method and we check <i><u><b>DDOS</b></u></i> attack in get method</h3></p>
    <h4>For testing all this things , click on the items ...</h4>

<br/>
<br/>
<h2><a href="get/">GET method</a></h2>
<h2><a href="post/">POST method</a></h2>
</body>
</html>