<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST</title>
</head>
<body>
    <h1>This is POST method part</h1>

    <hr/>

    <form action="" method="post">
        {%csrf_token%}
        <table border="1">
            <tr>
                <td>
                    Name 
                </td>
                <td>
                    <input type="text" name="name_post">
                </td>
            </tr>
            <tr>
                <td>
                    Text
                </td>
                <td>
                    <input type="text" name="comment_post">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="done" value="send_post">
                </td>
            </tr>
        </table>
    </form>

    <br/>
    <hr/>

</body>
</html>